version: '3.9'

services:
  web:
    build: ./app
    ports:
      - "5001:5000"
    depends_on:
      - db

  db:
    image: mysql:8
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: testdb
    volumes:
      - ./db_init:/docker-entrypoint-initdb.d
    ports:
      - "3307:3306"
